<div class="container bg">
    <footer>
        <ul>
            <li>© <%= (new Date()).getFullYear() %> Artix Linux</li>
            <li>Developed by Cory Sanin</li>
            <li><a href="https://github.com/CorySanin/artix-checkupdates-web">Source</a></li>
        </ul>
    </footer>
</div>