<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= site.prefix %> - <%= site.suffix %></title>
    <meta charset="utf-8" />
    <meta name="author" content="Cory Sanin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Artix Checkupdates">
    <meta name="application-name" content="Artix Checkupdates">
    <meta name="theme-color" content="#212121">
    <link rel="stylesheet" href="/assets/css/styles.css?v=4">
    <link rel="shortcut icon" href="/assets/svg/artix_logo.svg">
</head>