<div class="container">
    <header>
        <a href="/" class="logo"><%- inliner('/assets/svg/artix_logo.svg') %>
            <span>Artix Checkupdates</span>
        </a>
        <nav>
            <ul>
                <li><a href="/">Checkupdates</a></li>
                <li><a href="https://artixlinux.org/">Artix Linux</a></li>
                <li><a href="https://forum.artixlinux.org/">Forum</a></li>
                <li><a href="https://wiki.artixlinux.org/">Wiki</a></li>
                <li><a href="https://gitea.artixlinux.org/">Sources</a></li>
            </ul>
        </nav>
    </header>
</div>