<details class="userbar">
  <summary><h5>Dynamic Userbar BBCode</h5></summary>
    <textarea readonly>[img width=350 height=61]<%= url %>[/img]</textarea>
    <h6>Preview</h6>
    <img height="61" width="350" src="<%= url %>" alt="Artix maintainer userbar preview" />
</details>
