name: App Image CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  lowercasify:
    permissions: {}
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.image.outputs.image_name }}
      repo_name: ${{ steps.repo.outputs.repo_name }}
    steps:
      - name: Lowercase image name
        id: image
        run: |
          echo "image_name=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
      - name: Lowercase repo name
        id: repo
        run: |
          echo "repo_name=$(echo '${{ github.event.repository.name }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

  build_image:
    name: Build Docker image.
    runs-on: ubuntu-latest
    needs:
      - lowercasify
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_NAME: ${{ needs.lowercasify.outputs.image_name }}
      REPOSITORY: ${{ needs.lowercasify.outputs.repo_name }}
      GH_REGISTRY: ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Define release tag patterns
        if: "startsWith(github.ref, 'refs/tags/v')"
        run: |
          {
            echo "PIMAGES<<EOF"
            echo "${{ env.GH_REGISTRY }}/${{ env.IMAGE_NAME }}"
            echo "EOF"
            echo "PTAGS<<EOF"
            echo "type=raw,value=latest"
            echo "type=semver,pattern={{version}}"
            echo "type=semver,pattern={{major}}.{{minor}}"
            echo "type=semver,pattern={{major}}"
            echo "EOF"
          } >> "$GITHUB_ENV"
      
      - name: Define develop tag patterns
        if: "!startsWith(github.ref, 'refs/tags/v')"
        run: |
          {
            echo "PIMAGES<<EOF"
            echo "${{ env.GH_REGISTRY }}/${{ env.IMAGE_NAME }}"
            echo "EOF"
            echo "PTAGS<<EOF"
            echo "type=ref,event=branch"
            echo "type=ref,event=pr"
            echo "EOF"
          } >> "$GITHUB_ENV"
      
      - name: Extract metadata for Docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.PIMAGES }}
          tags: ${{ env.PTAGS }}

      - name: Build and push Docker image
        if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/build-push-action@v6
        with:
          target: deploy
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,mode=max,scope=${{ github.workflow }}
